@import "tailwindcss";

:root {
  --background: #ffffff;
  /* --foreground: #171717; */
}


body {
  background: var(--background);
  /* color: var(--foreground); */
  font-family: Arial, Helvetica, sans-serif;
}


@layer utilities {
  @keyframes slide-in-up {
    0% {
      transform: translateY(100%);
      opacity: 0;
    }
    100% {
      transform: translateY(0);
      opacity: 1;
    }
  }

  .animate-slide-in-up {
    animation: slide-in-up 0.7s ease-out both;
  }

  .delay-300 {
    animation-delay: 300ms;
  }
}

@keyframes marquee-left-to-right {
  0% {
    transform: translateX(-50%);
  }
  100% {
    transform: translateX(0%);
  }
}

.animate-marquee {
  animation: marquee-left-to-right 10s linear infinite;
}
